bin/**
!bin/scripts

#data/db/**
#!data/db

**/.DS_Store

node_modules/

#ml-tools/dependencies/**
ml-tools/xmm-server-tool/xmm-server-tool.xcodeproj/**/xcuserdata/**

#client/**
#server/**

#public/js/**
#public/css/**

